*{
    padding: 0;
    margin: 0;
}

@font-face{
    font-family: Pacifico;
    src:url(Font/Pacifico/Pacifico-Regular.ttf)
}


@font-face{
    font-family: Overpass;
    src:url(Font/Overpass/Overpass-Black.ttf)
}

html{
    scroll-behavior: smooth;
}

/*//////////////////////Header///////////////////////////*/

.container-header{
    height: 100vh;
    width: 100vw;
    background-image:  url(Image/palm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.decoration{
    text-decoration: none;
    color: black;
}

.menu{
    height: 9vh;
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 10vh;
    backface-visibility: visible;
    transition: background-color 0.55s;
    background: rgb(219, 219, 219,0.28);
    position: fixed;
    z-index: 1000;
}

.menu:hover{
    background: rgb(219, 219, 219,0.47);
}

.container-logo{
    width: 35vw;
    display: flex;
    justify-content: left;
    padding-left: 5vw;
    text-align: center;
    line-height: 10vh;
}

.logo{
    width: 14vw;
    font-family: Pacifico;
    font-size: 3.4rem;
}

.logo:hover{
    color: #282828;
}

.elements{
    width: 60vw;
    height: 9vh;
    text-align: center;
    line-height: 4vh;
}

.nav-elements{
    width: 8vw;
    height: 4vh;
    margin-right: 25px;
    float: right;
    margin-top: 2.4vh;
    background: rgb(219, 219, 219,0.38);
    font-family: Overpass;
    font-size: 0.9rem;
    transition: background-color 0.3s;
    cursor: pointer;
}

.nav-elements:hover{
    background: rgb(219, 219, 219,0.75);
}

.motivation-1{
    position: absolute;
    top: 34%;
    right: 12%;
    font-family: Pacifico;
    font-size: 2rem;
     z-index: 1";
}

.motivation-2{
    position: absolute;
    top: 46%;
    right: 1.8%;
    font-family: Pacifico;
    font-size: 2rem;
    text-align: center;
     z-index: 1";
}
/*///////////////////// Main Start ///////////////////*/

.container-main-1{
    height: 300vh;
    width: 100vw;
    background-image: url(Image/above-aerial-aerial-view-931018.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.start-button{
    width: 17vw;
    height: 6.5vh;
    background: rgb(219, 219, 219,0.28);
    font-family: Overpass;
    font-size: 1rem;
    transition: background-color 0.3s;
    transition: font-size 0.45s;
    cursor: pointer;
    position: absolute;
    top: 80%;
    right: 3%;
}

.start-button:hover{
    font-size: 1.15rem;
}

.main-page{
    height: 300vh;
    width: 100vw;
}

.header-main{
    width: 100vw;
    height: 100vh;
}

.podroze{
    position: absolute;
    width: 100vw;
    text-align: center;
    top: 38%;
    font-family: Pacifico;
    font-size: 5rem;
}

.io{
    position: absolute;
    top: 56%;
    right: 49%;
    font-size: 3rem;
}

.io:hover{
    color: rgb(32, 32, 32);
}

.main-main{
    height: 230vh;
    width: 100vw;
}

.space{
    width: 100vw;
    height: 20vh;
}

.box-1{
    width: 100vw;
    height: 45vh;
}

.beneth{
    position: relative;
    left: 22px;
    top: 22px;
}

.above{
     margin-left: 12vw;
    position: absolute;
}

.beneth-1{
    position: relative;
    left: 22px;
    top: 22px;
}

.above-1{
     margin-left: 60vw;
    position: absolute;
}

.text{
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 22px;
    left: 22px;
}

.shadow-text{
    margin-left: 50vw;
    position: absolute;
}

.text-1{
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 22px;
    left: 22px;
}

.shadow-text-1{
    margin-left: 12vw;
    position: absolute;
}

.variety-1{
    width: 39vw;
    height: 30vh;
}

.variety-2{
    width: 28vw;
    height: 30vh;
}

.nr-1{
    background: rgb(219, 219, 219,0.45);
}

.nr-2{
    background: url(Image/pexels-photo-297755.jpeg);
    background-size: cover;
    background-position: center;
}

.nr-3{
    background: rgb(219, 219, 219,0.74);
}

.nr-4{
    background: url(Image/pexels-photo-239520.jpeg);
    background-size: cover;
    background-position: center;
}

.nr-5{
    background: url(Image/pexels-photo-618545.jpeg);
    background-size: cover;
    background-position: center;
}

.nr-6{
    background: url(Image/pexels-photo-731217.jpeg);
    background-size: cover;
    background-position: center;
}

.opis{
    font-family: Overpass;
    padding: 30px;
}

.catalog{
    width: 100vw;
    height: 30vh;
    font-family: Pacifico;
    text-align: center;
    line-height: 30vh;
    font-size: 2.2rem;
    background-image: url(Image/bokeh-city-dark-9044.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.opis-1{
    font-family: Overpass;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.shadow-catalog{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.28);
    transition: background-color 0.4s;
}

.shadow-catalog:hover{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
}

/*//////////Katalog///////////*/

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
}

.content {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.30);
  color: #f1f1f1;
  text-align: center;
  width: 100vw;
  padding: 20px;
  font-size: 0.7rem;
  font-family: Overpass;
}

.katalog{
    position: absolute;
    width: 100vw;
    text-align: center;
    top: 40%;
    font-family: Pacifico;
    font-size: 3rem;
}

.io-1{
    position: absolute;
    top: 52%;
    right: 49%;
    font-size: 2.2rem;
}

.io-1:hover{
    color: rgb(32, 32, 32);
}

.container-8{
    height: 100vh;
    width: 100vw;
}

.container-9{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

.map-element{
    width: 33vw;
    height: 29vh;
    background-color: aqua;
}

.space-1{
    width: 100vw;
    height: 9vh;
}
