*{
    padding: 0;
    margin: 0;
}

@font-face{
    font-family: Pacifico;
    src:url(Font/Pacifico/Pacifico-Regular.ttf)
}


@font-face{
    font-family: Overpass;
    src:url(Font/Overpass/Overpass-Black.ttf)
}

/*//////////////////////Header///////////////////////////*/

.container-header{
    height: 100vh;
    width: 100vw;
    background-image:  url(Image/palm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.menu{
    height: 9vh;
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 10vh;
    backface-visibility: visible;
    transition: background-color 0.55s;
    background: rgb(219, 219, 219,0.1);
    position: fixed;
}

.menu:hover{
    background: rgb(219, 219, 219,0.25);
}

.container-logo{
    width: 35vw;
    display: flex;
    justify-content: left;
    padding-left: 5vw;
    text-align: center;
    line-height: 10vh;
}

.logo{
    width: 14vw;
    font-family: Pacifico;
    font-size: 3.4rem;
}

.logo:hover{
    color: #282828;
}

.elements{
    width: 60vw;
    height: 9vh;
    text-align: center;
    line-height: 4vh;
}

.nav-elements{
    width: 7vw;
    height: 4vh;
    margin-right: 25px;
    float: right;
    margin-top: 2.4vh;
    background: rgb(219, 219, 219,0.38);
    font-family: Overpass;
    font-size: 0.9rem;
    transition: background-color 0.3s;
    cursor: pointer;
    z-index: 1000;
}

.nav-elements:hover{
    background: rgb(219, 219, 219,0.66);
}

.motivation-1{
    position: absolute;
    top: 34%;
    right: 12%;
    font-family: Pacifico;
    font-size: 2rem;
}

.motivation-2{
    position: absolute;
    top: 46%;
    right: 1.8%;
    font-family: Pacifico;
    font-size: 2rem;
    text-align: center;
}
/*///////////////////// Main Start ///////////////////*/

.container-main-1{
    height: 300vh;
    width: 100vw;
    background-image: url(Image/above-aerial-aerial-view-931018.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.start-button{
    width: 17vw;
    height: 6.5vh;
    background: rgb(219, 219, 219,0.28);
    font-family: Overpass;
    font-size: 1rem;
    transition: background-color 0.3s;
    transition: font-size 0.45s;
    cursor: pointer;
    position: absolute;
    top: 80%;
    right: 3%;
}

.start-button:hover{
    font-size: 1.15rem;
}